{% extends "!layout.html" %}

{%- macro relbar1() %}
    <div class="related">
      <h3>{{ _('Navigation') }}</h3>
      <ul>
        {%- for rellink in rellinks %}
        <li class="right" {% if loop.first %}style="margin-right: 10px"{% endif %}>
          <a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags|e }}"
             {{ accesskey(rellink[2]) }}>{{ rellink[3] }}</a>
          {%- if not loop.first %}{{ reldelim2 }}{% endif %}</li>
        {%- endfor %}
        {% block rootrellink %}
        <li><a href="{{ pathto('index') }}#">PyFMI home</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('content') }}#">Documentation</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('tutorial') }}#">Tutorial</a>&nbsp;|&nbsp;</li>
        <li><a href="{{ pathto('examples' )}}#">Examples</a></li>
        {% endblock %}
      </ul>
    </div>
{%- endmacro %}

{%- block relbar1 %}{{ relbar1() }}{% endblock %}
{%- block relbar2 %}{% endblock %}
